<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create module</title>
</head>
<body>
    <h1>Create Module</h1>
    

    <form method="post">
        {% csrf_token %}
        <label for="domain">Select domain:</label>
        <select id="domain" name="domain" required>
             {% for d in domain %}
                <option value="{{ d.name }}">{{ d.name }}</option>
            {% endfor %} 
        </select><br><br>
        
        Module Name: <input type="text" name="module"><br><br>
        Topic Name: <input type="text" name="topic"><br><br>
        Question Name: <textarea name="question" id="" cols="30" rows="10">Question1</textarea><br><br>
        <!-- Image file Name: <input type="file" name="module"><br><br> -->
        
        <button type="submit">Save</button>
    </form>
</body>
</html>
