<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Update Module </title>
    
    
</head>
<body>
    {% for m in module  %}
    <h1>Update Module : {{m.name}}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Name:<input type="text" name="name" value="{{m.name}}">
        Topic:<input type="text" name="topic" value="{{m.topic}}">
        Question: <textarea name="question" id="" cols="30" rows="10">{{m.question}}</textarea>
        <input type="submit" value="Update">
    </form>
    
    {% endfor %}
</body>
</html>